<template>
    <div>
        <h1>Product Catalog</h1>

        <p>Welcome to the Product Catalog, a single-page application built with:</p>
        <ul>
            <li><a href="https://get.asp.net/">ASP.NET Core</a> and <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx">C#</a> for cross-platform server-side code</li>
            <li><a href="https://vuejs.org/">Vue.js</a> and <a href="http://www.typescriptlang.org/">TypeScript</a> for client-side code</li>
            <li><a href="https://webpack.github.io/">Webpack</a> for building and bundling client-side resources</li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a> for layout and styling</li>
            <li>Basic validation on both the client and server-side</li>
        </ul>
        <br/>
        <p>The table below is used to display Products, and new Products can be created by clicking the "Add New Product" button.</p>
        <p>New Products are added to the page without any reloading or refreshing.</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody v-if="products.length">
                <tr v-for="item in products">
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr class="alert alert-warning">
                    <td colspan="3">
                        There are currently no products available in the catalog.
                    </td>
                </tr>
            </tbody>
            <tbody v-if="productsEditable">
                <tr>
                    <td>
                        <input v-model="newProduct.name" v-bind:class="(nameValid)?'':'invalid'" placeholder="Product Name" />
                        <br />
                        <label v-if="!nameValid">Name required</label>
                    </td>
                    <td>
                        <input v-model="newProduct.quantity" v-bind:class="(quantityValid)?'':'invalid'" type="number" placeholder="Quantity" />
                        <br />
                        <label v-if="!quantityValid">Quantity must be between 1 and 999</label>
                    </td>
                    <td>
                        <input v-model="newProduct.description" placeholder="Description (Optional)" />
                    </td>
                </tr>
            </tbody>
        </table>

        <button v-if="!productsEditable" v-on:click="addNewProduct" type="button" class="btn btn-primary">
            Add New Product
        </button>
        <button v-if="productsEditable" v-on:click="saveNewProduct" type="button" class="btn btn-success">
            Save Product
        </button>
        <br />
        <br />
        <div v-if="serverError" class="alert alert-danger">
            <h4>A server error occured. This could be due to incorrect data. Please make sure: </h4>
            <ul>
                <li>Name is valid text</li>
                <li>Name doesn't use the same name as an already existing Product</li>
                <li>Quantity is a number between 1 and 999 (inclusive)</li>
            </ul>
        </div>
        <label v-if="saveSuccess" class="alert alert-success">
            New product successfully saved!
        </label>
    </div>
</template>

<script src="./products.ts"></script>
