<template>
    <div>
        <h1>Product Catalog</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody v-if="products.length">
                <tr v-for="item in products">
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr class="alert alert-warning">
                    <td colspan="3">
                        There are currently no products available in the catalog.
                    </td>
                </tr>
            </tbody>
            <tbody v-if="productsEditable">
                <tr>
                    <td>
                        <input v-model="newProduct.name" v-bind:class="(nameValid)?'':'invalid'" placeholder="Product Name" />
                        <label v-if="!nameValid">Name required</label>
                    </td>
                    <td>
                        <input v-model="newProduct.quantity" v-bind:class="(quantityValid)?'':'invalid'" type="number" placeholder="Quantity" />
                        <label v-if="!quantityValid">Quantity required, must be 0 or greater</label>
                    </td>
                    <td>
                        <input v-model="newProduct.description" placeholder="Description (Optional)" />
                    </td>
                </tr>
            </tbody>
        </table>

        <button v-if="!productsEditable" v-on:click="addNewProduct" type="button" class="btn btn-primary">
            Add New Product
        </button>
        <button v-if="productsEditable" v-on:click="saveNewProduct" type="button" class="btn btn-success">
            Save Product
        </button>
        <br />
        <br/>
        <label v-if="serverError" class="alert alert-danger">
            A server error occured. This could be due to incorrect data. Please check your values and try again.
        </label>
        <label v-if="saveSuccess" class="alert alert-success">
            New product successfully saved!
        </label>
    </div>
</template>

<script src="./fetchdata.ts"></script>
